* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #F3EC7C;
}
/*
@font-face {
  font-family: 'GoodTimes';
  src: url('assets/fonts/good-times-rg.ttf');
}
*/
