.thumbnail-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding-top: 24px;

  .tech-item-card {
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 8px 0px #000000;
    background-color: #333;
    position: relative;

    .tech-item-logo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
    }
  }
}
