.header {
  font-size: 28px;
  text-align: center;
}

.thumbnail-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding-top: 24px;

  .tech-item-card {
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 8px 0px #000000;
    background-color: #333;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all ease 0.2s;

    &.selected-card {
      box-shadow: 2px 2px 12px 2px #74D7FF;
    }

    &:hover {
      box-shadow: 2px 2px 12px 2px #74D7FF;
    }

    .tech-item-logo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
    }

    .tech-item-name {
      position: absolute;
      height: 30px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#eee, 0.4);
      color: #fff;
      text-shadow: 1px 1px #444;
      text-align: center;
      line-height: 30px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.vote-button-container {
  margin-top: 72px;
  text-align: center;

  .vote-button {
    outline: 0;
    border: 0;
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: #42BCEE;
    color: #fff;
    border-radius: 40px;
  }
}
